body{
	background-image: url("brown city background.jpg");
	background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100%;
	font-family: sans-serif;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
a:hover {
    background-color: gray;
}

#div1{
	opacity: .60;
	background-color: white;
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 150px;
	margin-right:150px;
	border: 30px black solid;
}

#quote{
	opacity: .60;
	background-color: white;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 150px;
	margin-right:150px;
	border: 20px black solid;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	text-align: center;
}

.translucent{
	background-color: rgba(0,0,0,0.6);
	padding:15px;
	display: inline-block;
}
img{
	float: left;
	margin-left: 150px;
	margin-right:150px;
}

#aboutMeText{
	margin-left: 500px;
	margin-right:150px;
	opacity: .60;
	text-align: left;
	border: 15px black solid;
	background-color: white;
	padding-bottom: 20px;
	padding-right: 20px;
	
}

#schoolWork{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 15px black solid;
	background-color: white;
	opacity: .60;
	margin-left: 150px;
	margin-right:700px;
	
}

#hobbiesList{
	border: 15px black solid;
	background-color: white;
	opacity: .60;
	margin-left: 150px;
	margin-right:700px;
	margin-bottom: 20px;
}

#animeList{
	border: 15px black solid;
	background-color: white;
	opacity: .60;
	margin-left: 150px;
	margin-right:700px;
	margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: gold}

#nestedList{
	border: 15px black solid;
	background-color: white;
	opacity: .60;
	margin-left: 150px;
	margin-right:700px;
}

#codeTable{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0px;
	width:80%;
	background-color: white;
	opacity: .60;
	margin-left: 150px;
	margin-right:700px;
	text-align: left;
}





